---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27custom.props@getvendo.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      X-Klaviyo-Req-Id:
      - c5af5de1-56f5-41c5-907b-c22416364510
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 20 Aug 2025 00:53:49 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"custom.props@getvendo.com","first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
      X-Klaviyo-Req-Id:
      - 8b070bac-2206-4616-8292-ddff6b3fa3eb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01HXGX6SXYRZBRVCTV6RNAY81B","attributes":{"email":"custom.props@getvendo.com","anonymous_id":null,"first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81B/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81B/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81B/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81B/segments/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81B/"}}}'
  recorded_at: Wed, 20 Aug 2025 00:53:50 GMT
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81B/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01HXGX6SXYRZBRVCTV6RNAY81B","attributes":{"properties":{"Customer
        Tier":"Gold","Lifetime Value":500}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - en-us
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
      X-Klaviyo-Req-Id:
      - 291a187e-fee3-4f5b-b4e2-7a3b17618e25
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"291a187e-fee3-4f5b-b4e2-7a3b17618e25","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Wed, 20 Aug 2025 01:04:21 GMT
recorded_with: VCR 6.3.1
