---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profile-subscription-bulk-delete-jobs/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile-subscription-bulk-delete-job","attributes":{"profiles":{"data":[{"type":"profile","attributes":{"email":"wrong-email"}}]}},"relationships":{"list":{"data":{"type":"list","id":"XLUG56"}}}}}'
    headers:
      Revision:
      - '2023-09-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - RZUvUQ
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2023-09-15'
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"5dcdd94b-3730-410a-bad3-15c6827acee9","status":400,"code":"invalid","title":"Invalid
        input.","detail":"Invalid email address","source":{"pointer":"/data/attributes/profiles/data/0/attributes/email"},"meta":{}}]}'
  recorded_at: Thu, 29 Feb 2024 11:14:30 GMT
recorded_with: VCR 6.2.0
