---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27existing.user@getvendo.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2023-09-15'
      Authorization:
      - Klaviyo-API-Key pk_123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - TRJmuC
      Ratelimit-Limit:
      - 700, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '698'
      Ratelimit-Reset:
      - '9'
      X-Klaviyo-Api-Revision:
      - '2022-10-17'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"profile","id":"01GKRH2XK1DWCT8CRRHFFJRXPQ","attributes":{"email":"existing.user@getvendo.com"},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01GKRH2XK1DWCT8CRRHFFJRXPQ/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01GKRH2XK1DWCT8CRRHFFJRXPQ/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01GKRH2XK1DWCT8CRRHFFJRXPQ/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01GKRH2XK1DWCT8CRRHFFJRXPQ/segments/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01GKRH2XK1DWCT8CRRHFFJRXPQ/"}}],"links":{"self":"https://a.klaviyo.com/api/profiles/?fields[profile]=email&filter=equals(email,%27existing.user@getvendo.com%27)","next":null,"prev":null}}'
  recorded_at: Wed, 15 Nov 2023 16:02:13 GMT
recorded_with: VCR 6.2.0
