---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile-subscription-bulk-create-job","attributes":{"profiles":{"data":[{"type":"profile","attributes":{"email":"user@example.com","subscriptions":{"email":{"marketing":{"consent":"SUBSCRIBED"}}}}}]}},"relationships":{"list":{"data":{"type":"list","id":"invalid-list-id"}}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 7cf9ade4-0399-42bc-bd4f-89cec0fbd476
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"7cf9ade4-0399-42bc-bd4f-89cec0fbd476","status":400,"code":"invalid","title":"Invalid
        input.","detail":"List not found with id invalid-list-id.","source":{"pointer":"/data/relationships/list/data/id"},"links":{},"meta":{}}]}'
  recorded_at: Tue, 17 Mar 2026 15:02:16 GMT
recorded_with: VCR 6.4.0
