---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile-subscription-bulk-create-job","attributes":{"profiles":{"data":[{"type":"profile","attributes":{"email":"guest@example.com","subscriptions":{"email":{"marketing":{"consent":"SUBSCRIBED"}}}}}]}},"relationships":{"list":{"data":{"type":"list","id":"<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>"}}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - ccaf1f72-b610-48c1-8c63-8a0793afaedc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 17 Mar 2026 15:01:14 GMT
recorded_with: VCR 6.4.0
