---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/back-in-stock-subscriptions/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"back-in-stock-subscription","attributes":{"channels":["EMAIL"],"profile":{"data":{"type":"profile","attributes":{"email":"user@gmail.com"}}}},"relationships":{"variant":{"data":{"type":"catalog-variant","id":"$custom:::$default:::abcdef-123456"}}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 350, 350;w=1, 3500;w=60
      Ratelimit-Remaining:
      - '349'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"d232453f-7418-46f7-b580-1630a30ea16d","status":404,"code":"variant_not_found","title":"The
        variant in your relationship payload does not exist","detail":"The variant
        in your relationship payload does not exist","source":{"pointer":"/data/relationships/variant/data/id"},"links":{},"meta":{}}]}'
  recorded_at: Thu, 15 May 2025 12:14:44 GMT
recorded_with: VCR 6.3.1
