---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/back-in-stock-subscriptions/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"back-in-stock-subscription","attributes":{"channels":["EMAIL"],"profile":{"data":{"type":"profile","attributes":{"email":"user@gmail.com"}}}},"relationships":{"variant":{"data":{"type":"catalog-variant","id":"$custom:::$default:::f91550db-8682-404f-81f3-fc48f98de2d0"}}}}}'
    headers:
      Revision:
      - '2023-09-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - TRJmuC
      Ratelimit-Limit:
      - 350, 350;w=1, 3500;w=60
      Ratelimit-Remaining:
      - '349'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2023-09-15'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Apr 2024 16:10:18 GMT
recorded_with: VCR 6.2.0
