---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/events/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"event","attributes":{"properties":{"email":"natisha.langworth@keebler.co.uk","customer_name":"John
        Doe","store_name":"fuga","order_id":"R998843277","order_number":"R998843277","affiliation":"fuga","value":10.0,"subtotal":10.0,"item_total":10.0,"total":110.0,"revenue":110.0,"unified_delivery?":false,"shipping":100.0,"shipping_method":"UPS
        Ground","vendor_internal_shipping_method":"UPS Ground","tax":0.0,"included_tax":0.0,"discount":0.0,"commission_total":0.0,"coupon":"","currency":"USD","completed_at":"","checkout_url":"http://fuga-8a815e.lvh.me/checkout/g7afW7HAUBQU6PXxCJygNytR","all_adjustments":[],"bill_address":{"city":"Herndon","country":"United
        States","postalCode":"35005","state":"STATE_ABBR_3","street":"3 Lovely Street
        Northwest","phone":"555-555-0199","name":"John Doe","first_name":"John","last_name":"Doe"},"ship_address":{"city":"Herndon","country":"United
        States","postalCode":"35005","state":"STATE_ABBR_4","street":"4 Lovely Street
        Northwest","phone":"555-555-0199","name":"John Doe","first_name":"John","last_name":"Doe"},"vendors_billing_information":[],"index":"products","eventType":"conversion","objectIDs":["408a9904-bb12-4989-ad7f-301d4f744456"],"positions":[1],"Items":[{"product_id":"408a9904-bb12-4989-ad7f-301d4f744456","identification_number":"408a9904-bb12-4989-ad7f-301d4f744456","category":"","category_dict":[],"collections":[],"brand":"","vendor":"","vendor_id":"","variant":"","price":10.0,"total_price":10.0,"url":"http://fuga-8a815e.lvh.me:3000/products/product-25885-63a5f338-dc71-4801-b6bb-41fc3d2f5183","position":1,"coupon":"","additional_tax":0.0,"price_excluding_vat":10.0,"sales_price":10.0,"sales_price_excluding_vat":10.0,"variant_dict":{},"commission_rate":0.0,"commission_amount":0.0,"Image
        URL":"","SKU":"SKU-2","Name":"Product 25885","Quantity":1}]},"metric":{"data":{"type":"metric","attributes":{"name":"Order
        Completed"}}},"profile":{"data":{"type":"profile","attributes":{"email":"natisha.langworth@keebler.co.uk","first_name":"Rikki","last_name":"Johnson","location":{"address1":"3
        Lovely Street","address2":"Northwest","city":"Herndon","country":"United States","region":"STATE_ABBR_3","zip":"35005"}}}}}}}'
    headers:
      Revision:
      - '2023-09-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - RZUvUQ
      Ratelimit-Limit:
      - 3500, 350;w=1, 3500;w=60
      Ratelimit-Remaining:
      - '3499'
      Ratelimit-Reset:
      - '7'
      X-Klaviyo-Api-Revision:
      - '2023-07-15'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 Oct 2023 08:30:57 GMT
recorded_with: VCR 6.2.0
