---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"example@email.com"}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - face93c2-c780-4dc9-b422-8b24c8f0110e
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01KKYCR7WQ04R75KTWMMAV83MG","attributes":{"email":"example@email.com","phone_number":null,"external_id":null,"anonymous_id":null,"first_name":null,"last_name":null,"organization":null,"locale":null,"title":null,"image":null,"created":"2026-03-17T17:16:01.816274+00:00","updated":"2026-03-17T17:16:01.816298+00:00","last_event_date":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"latitude":null,"longitude":null,"region":null,"zip":null,"timezone":null,"ip":null},"properties":{}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/segments/"}},"push-tokens":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/relationships/push-tokens/","related":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/push-tokens/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01KKYCR7WQ04R75KTWMMAV83MG/"}},"links":{"self":"https://a.klaviyo.com/api/profiles/"}}'
  recorded_at: Tue, 17 Mar 2026 17:16:01 GMT
recorded_with: VCR 6.4.0
