---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/lists/XLUG56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2023-09-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Cid:
      - RZUvUQ
      Ratelimit-Limit:
      - 700, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '699'
      Ratelimit-Reset:
      - '6'
      X-Klaviyo-Api-Revision:
      - '2022-10-17'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"list","id":"XLUG56","attributes":{"name":"Newsletter","created":"2022-07-25T11:35:56+00:00","updated":"2022-08-22T13:23:42+00:00"},"relationships":{"profiles":{"links":{"self":"https://a.klaviyo.com/api/lists/XLUG56/relationships/profiles/","related":"https://a.klaviyo.com/api/lists/XLUG56/profiles/"}},"tags":{"links":{"self":"https://a.klaviyo.com/api/lists/XLUG56/relationships/tags/","related":"https://a.klaviyo.com/api/lists/XLUG56/tags/"}}},"links":{"self":"https://a.klaviyo.com/api/lists/XLUG56/"}}}'
  recorded_at: Thu, 26 Oct 2023 08:30:58 GMT
recorded_with: VCR 6.2.0
