---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":"guest-spec-with-props-001","email":null,"first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null},"properties":{"source":"newsletter","zip_code":"12345"}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '73'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - e621d383-5b17-4857-bbbb-de420abe8748
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01K3MNATFGCB2C265A65PY4SF4","attributes":{"email":null,"phone_number":null,"external_id":null,"anonymous_id":"guest-spec-with-props-001","first_name":null,"last_name":null,"organization":null,"locale":null,"title":null,"image":null,"created":"2025-08-27T02:22:25.777504+00:00","updated":"2025-08-27T02:22:25.777537+00:00","last_event_date":null,"location":{"zip":null,"latitude":null,"address1":null,"longitude":null,"region":null,"city":null,"address2":null,"country":null,"timezone":null,"ip":null},"properties":{"source":"newsletter","zip_code":"12345"}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/segments/"}},"push-tokens":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/relationships/push-tokens/","related":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/push-tokens/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MNATFGCB2C265A65PY4SF4/"}},"links":{"self":"https://a.klaviyo.com/api/profiles/"}}'
  recorded_at: Wed, 27 Aug 2025 02:22:23 GMT
recorded_with: VCR 6.3.1
