---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":"guest-208715f9c5507bd2d8202540","email":null,"first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 58c40500-abc8-4100-8b10-fe1dd7288676
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01K3MM5G3JZ16J6074ZMAJ6V2V","attributes":{"email":null,"phone_number":null,"external_id":null,"anonymous_id":"guest-208715f9c5507bd2d8202540","first_name":null,"last_name":null,"organization":null,"locale":null,"title":null,"image":null,"created":"2025-08-27T02:02:02.740086+00:00","updated":"2025-08-27T02:02:02.740118+00:00","last_event_date":null,"location":{"longitude":null,"latitude":null,"country":null,"address1":null,"address2":null,"zip":null,"city":null,"region":null,"timezone":null,"ip":null},"properties":{}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/segments/"}},"push-tokens":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/relationships/push-tokens/","related":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/push-tokens/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MM5G3JZ16J6074ZMAJ6V2V/"}},"links":{"self":"https://a.klaviyo.com/api/profiles/"}}'
  recorded_at: Wed, 27 Aug 2025 02:02:00 GMT
recorded_with: VCR 6.3.1
