---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27john.doe%2Btest-props@getvendo.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '73'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 68eb5802-c1af-4bbf-b5df-38499357d3dc
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"links":{"self":"https://a.klaviyo.com/api/profiles/?fields[profile]=email&filter=equals(email,%27john.doe%2Btest-props%40getvendo.com%27)","next":null,"prev":null}}'
  recorded_at: Wed, 27 Aug 2025 02:45:42 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"john.doe+test-props@getvendo.com","first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null},"properties":{"unsupported_zip_code":"99999","source":"test"}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 1c608d67-2d85-478a-ba49-65d6502cc61b
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01K3MPNH771MQGWC7Y2BA6EMXN","attributes":{"email":"john.doe+test-props@getvendo.com","phone_number":null,"external_id":null,"anonymous_id":null,"first_name":null,"last_name":null,"organization":null,"locale":null,"title":null,"image":null,"created":"2025-08-27T02:45:45.321670+00:00","updated":"2025-08-27T02:45:45.321700+00:00","last_event_date":null,"location":{"address2":null,"address1":null,"country":null,"latitude":null,"zip":null,"longitude":null,"city":null,"region":null,"timezone":null,"ip":null},"properties":{"unsupported_zip_code":"99999","source":"test"}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/segments/"}},"push-tokens":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/push-tokens/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/push-tokens/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/"}},"links":{"self":"https://a.klaviyo.com/api/profiles/"}}'
  recorded_at: Wed, 27 Aug 2025 02:45:43 GMT
recorded_with: VCR 6.3.1
