---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27john.doe%2Btest-props@getvendo.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - f8ca966a-7588-4eef-8500-71cb25bff81d
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"profile","id":"01K3MPNH771MQGWC7Y2BA6EMXN","attributes":{"email":"john.doe+test-props@getvendo.com"},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/segments/"}},"push-tokens":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/push-tokens/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/push-tokens/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/"}}],"links":{"self":"https://a.klaviyo.com/api/profiles/?fields[profile]=email&filter=equals(email,%27john.doe%2Btest-props%40getvendo.com%27)","next":null,"prev":null}}'
  recorded_at: Wed, 27 Aug 2025 18:51:33 GMT
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"email":"john.doe+test-props@getvendo.com","first_name":"Kareen","last_name":"Runolfsson","external_id":999999,"properties":{"unsupported_zip_code":"99999","source":"test"}},"id":"01K3MPNH771MQGWC7Y2BA6EMXN"}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 47c798d9-8faf-4396-9ad4-0b8e93c4c85d
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"profile","id":"01K3MPNH771MQGWC7Y2BA6EMXN","attributes":{"email":"john.doe+test-props@getvendo.com","phone_number":null,"external_id":"999999","anonymous_id":null,"first_name":"Kareen","last_name":"Runolfsson","organization":null,"locale":null,"title":null,"image":null,"created":"2025-08-27T02:45:45+00:00","updated":"2025-08-27T18:51:34.529659+00:00","last_event_date":null,"location":{"latitude":null,"address2":null,"zip":null,"region":null,"country":null,"address1":null,"city":null,"longitude":null,"timezone":null,"ip":null},"properties":{"unsupported_zip_code":"99999","source":"test"}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/segments/"}},"push-tokens":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/push-tokens/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/push-tokens/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN/"}},"links":{"self":"https://a.klaviyo.com/api/profiles/01K3MPNH771MQGWC7Y2BA6EMXN"}}'
  recorded_at: Wed, 27 Aug 2025 18:51:34 GMT
recorded_with: VCR 6.3.1
