---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/events/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"event","attributes":{"properties":{"name":"Product
        42352","price":19.99,"brand":null,"category":null,"currency":"USD","url":"http://www.example.com:3000/products/product-42352","image_url":"","sku":"SKU-4"},"metric":{"data":{"type":"metric","attributes":{"name":"Product
        Viewed"}}},"profile":{"data":{"type":"profile","attributes":{"anonymous_id":"guest-user-id-abcd1234"}}}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 350, 350;w=1, 3500;w=60
      Ratelimit-Remaining:
      - '349'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 May 2025 12:17:43 GMT
recorded_with: VCR 6.3.1
