---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/events/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"event","attributes":{"properties":{"email":"fay.morissette@streichhalvorson.ca","customer_name":"John
        Doe","store_name":"fuga","order_id":"R549558626","order_number":"R549558626","affiliation":"fuga","value":10.0,"subtotal":10.0,"item_total":10.0,"total":110.0,"revenue":110.0,"unified_delivery?":false,"shipping":100.0,"shipping_method":"UPS
        Ground","vendor_internal_shipping_method":"UPS Ground","tax":0.0,"included_tax":0.0,"discount":0.0,"commission_total":0.0,"coupon":"","currency":"USD","completed_at":"","checkout_url":"http://fuga-8a815e.lvh.me/checkout/fGuEbb9papL68oo2UHPG6Rtq","all_adjustments":[],"bill_address":{"city":"Herndon","country":"United
        States","postalCode":"35005","state":"STATE_ABBR_1","street":"1 Lovely Street
        Northwest","phone":"555-555-0199","name":"John Doe","first_name":"John","last_name":"Doe"},"ship_address":{"city":"Herndon","country":"United
        States","postalCode":"35005","state":"STATE_ABBR_2","street":"2 Lovely Street
        Northwest","phone":"555-555-0199","name":"John Doe","first_name":"John","last_name":"Doe"},"vendors_billing_information":[],"index":"products","eventType":"conversion","objectIDs":["b8a10dc3-b951-48b1-a694-327caae801ae"],"positions":[1],"Items":[{"product_id":"b8a10dc3-b951-48b1-a694-327caae801ae","identification_number":"b8a10dc3-b951-48b1-a694-327caae801ae","category":"","category_dict":[],"collections":[],"brand":"","vendor":"","vendor_id":"","variant":"","price":10.0,"total_price":10.0,"url":"http://fuga-8a815e.lvh.me:3000/products/product-14840-1cdc5857-44fa-48f3-a6a5-1a2b599c0830","position":1,"coupon":"","additional_tax":0.0,"price_excluding_vat":10.0,"sales_price":10.0,"sales_price_excluding_vat":10.0,"variant_dict":{},"commission_rate":0.0,"commission_amount":0.0,"Image
        URL":"","SKU":"SKU-1","Name":"Product 14840","Quantity":1}]},"metric":{"data":{"type":"metric","attributes":{"name":"Order
        Completed"}}},"profile":{"data":{"type":"profile","attributes":{"email":"fay.morissette@streichhalvorson.ca","first_name":"Leta","last_name":"Gerlach","location":{"address1":"1
        Lovely Street","address2":"Northwest","city":"Herndon","country":"United States","region":"STATE_ABBR_1","zip":"35005"}}}}}}}'
    headers:
      Revision:
      - '2023-09-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key invalid_key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"a200dd0d-1161-4c0b-8dad-9f73e80b3771","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Thu, 26 Oct 2023 08:30:56 GMT
recorded_with: VCR 6.2.0
