---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/events/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"event","attributes":{"properties":{"email":"example@email.com","customer_name":"John Doe","store_name":"Spree Test Store","order_id":"R360992544","order_number":"R360992544","affiliation":"Spree Test Store","value":233.69,"subtotal":233.69,"item_total":233.69,"total":233.69,"revenue":233.69,"shipping":0.0,"shipping_method":"","tax":0.0,"included_tax":0.0,"discount":0.0,"items":[{"name":"Product 1","price":19.99,"brand":null,"category":null,"currency":"USD","url":"http://www.example.com:3000/products/product-1","image_url":"","sku":"SKU-1","quantity":1,"item_price":"19.99","row_total":"19.99"},{"name":"Product 2","price":21.37,"brand":null,"category":null,"currency":"USD","url":"http://www.example.com:3000/products/product-2","image_url":"","sku":"SKU-2","quantity":10,"item_price":"21.37","row_total":"213.7"}],"coupon":"","currency":"USD","completed_at":"","checkout_url":null,"all_adjustments":[],"bill_address":{"city":"Anytown","country":"United States of America","postalCode":"12345","state":"CA","street":"123 Main St Northwest","phone":"555-555-0199","name":"John Doe","first_name":"John","last_name":"Doe"},"ship_address":{"city":"Othertown","country":"United States of America","postalCode":"67890","state":"NY","street":"456 Oak Ave Northwest","phone":"555-555-0199","name":"John Ferguson","first_name":"John","last_name":"Ferguson"}},"metric":{"data":{"type":"metric","attributes":{"name":"Order Completed"}}},"profile":{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"example@email.com","first_name":"John","last_name":"Doe","location":{"address1":"123 Main St","address2":"Northwest","city":"Anytown","country":"United States of America","region":"CA","zip":"12345"},"external_id":1}}},"value":233.69,"time":null}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 350, 350;w=1, 3500;w=60
      Ratelimit-Remaining:
      - '349'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 613aefdf-b1d1-4b63-b0a8-400de21b900d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Mar 2026 10:52:18 GMT
recorded_with: VCR 6.4.0
