---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/lists/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 8f9d1d67-2e73-4ec4-ab9c-400166d80d64
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"8f9d1d67-2e73-4ec4-ab9c-400166d80d64","status":404,"code":"not_found","title":"Not
        found.","detail":"A list with id `invalid` does not exist.","source":{"pointer":"/data/"}}]}'
  recorded_at: Tue, 17 Mar 2026 10:21:15 GMT
recorded_with: VCR 6.4.0
