---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/lists/KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key invalid
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - en-us
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
      X-Klaviyo-Req-Id:
      - 5e82e068-d8cf-4fc1-9a21-2d5409b7cb81
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"5e82e068-d8cf-4fc1-9a21-2d5409b7cb81","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Tue, 17 Mar 2026 10:18:18 GMT
recorded_with: VCR 6.4.0
