---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - f830ba36-afe6-4bc6-9052-0bb34218d829
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"list","id":"<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>","attributes":{"name":"Newsletter
        Subscribers","created":"2025-05-28T15:12:02+00:00","updated":"2025-09-15T14:03:28+00:00","opt_in_process":"double_opt_in"},"relationships":{"profiles":{"links":{"self":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>/relationships/profiles/","related":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>/profiles/"}},"tags":{"links":{"self":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>/relationships/tags/","related":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>/tags/"}},"flow-triggers":{"links":{"self":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>/relationships/flow-triggers/","related":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>/flow-triggers/"}}},"links":{"self":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>/"}},"links":{"self":"https://a.klaviyo.com/api/lists/<KLAVIYO_DEFAULT_NEWSLETTER_LIST_ID>"}}'
  recorded_at: Wed, 11 Mar 2026 14:11:26 GMT
recorded_with: VCR 6.4.0
