---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"invalid-email","first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 750;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Retirement-Date:
      - '2027-04-15'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 53ce68ce-4459-4fae-8a32-1c9d5ab55ce6
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"53ce68ce-4459-4fae-8a32-1c9d5ab55ce6","status":400,"code":"invalid","title":"Invalid
        input.","detail":"Invalid email address","source":{"pointer":"/data/attributes/email"},"links":{},"meta":{}}]}'
  recorded_at: Tue, 28 Apr 2026 11:44:47 GMT
recorded_with: VCR 6.4.0
