---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"guest+no_address@example.com","first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 750;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Retirement-Date:
      - '2027-04-15'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 36d586af-d2c1-4a93-ad98-2af738600be2
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01KQ9Z044BK4KWGHS7EAEJ5YX5","attributes":{"email":"guest+no_address@example.com","phone_number":null,"external_id":null,"anonymous_id":null,"first_name":null,"last_name":null,"organization":null,"locale":null,"title":null,"image":null,"created":"2026-04-28T11:53:38.700849+00:00","updated":"2026-04-28T11:53:38.700874+00:00","last_event_date":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"latitude":null,"longitude":null,"region":null,"zip":null,"timezone":null,"ip":null},"properties":{}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/segments/"}},"push-tokens":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/relationships/push-tokens/","related":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/push-tokens/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01KQ9Z044BK4KWGHS7EAEJ5YX5/"}},"links":{"self":"https://a.klaviyo.com/api/profiles/"}}'
  recorded_at: Tue, 28 Apr 2026 11:53:38 GMT
recorded_with: VCR 6.4.0
