---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"guest+with_address@example.com","first_name":"John","last_name":"Doe","external_id":null,"location":{"address1":"123
        Main St","address2":"Northwest","city":"Anytown","country":"United States
        of America","region":"CA","zip":"<KLAVIYO_PUBLIC_API_KEY>5"}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - <KLAVIYO_PUBLIC_API_KEY>
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 750;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Retirement-Date:
      - '2027-04-15'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - 6bade569-c7f0-4b09-b33c-12a371793538
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"6bade569-c7f0-4b09-b33c-12a371793538","status":409,"code":"duplicate_profile","title":"Conflict.","detail":"A
        profile already exists with one of these identifiers.","source":{"pointer":"/data/attributes"},"links":{},"meta":{"duplicate_profile_id":"01KQ9YF2AE893M5XV82CQD3VHA"}}]}'
  recorded_at: Tue, 28 Apr 2026 12:53:35 GMT
recorded_with: VCR 6.4.0
