---
http_interactions:
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/invalid/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"example@email.com","first_name":"John","last_name":"Doe","location":{"address1":"123
        Main St","address2":"Northwest","city":"Anytown","country":"United States
        of America","region":"CA","zip":"12345"},"external_id":1},"id":"invalid"}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Cid:
      - "<KLAVIYO_PUBLIC_API_KEY>"
      Content-Language:
      - en-us
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2025-04-15'
      X-Klaviyo-Req-Id:
      - '09dedec0-3288-4b07-8576-9fd0296b19ed'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"09dedec0-3288-4b07-8576-9fd0296b19ed","status":404,"code":"not_found","title":"Not
        found.","detail":"A profile with id invalid does not exist.","source":{"pointer":"/data/"}}]}'
  recorded_at: Wed, 18 Mar 2026 11:27:54 GMT
recorded_with: VCR 6.4.0
