---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/lists/XLUG56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2023-09-15'
      Authorization:
      - Klaviyo-API-Key invalid
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"a35c0a44-c540-4e9e-81db-b8114250c1fd","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Thu, 26 Oct 2023 08:30:58 GMT
recorded_with: VCR 6.2.0
