---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/lists/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2023-09-15'
      Authorization:
      - Klaviyo-API-Key invalid
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"702a1891-a31a-448b-9e06-63fd6facc9c1","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"A list with id invalid does not exist.","source":{"pointer":"/data/"}}]}'
  recorded_at: Thu, 26 Oct 2023 08:30:57 GMT
recorded_with: VCR 6.2.0
