---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27guest-user-1755651228@example.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      X-Klaviyo-Req-Id:
      - 3e5fdac0-f049-4aa7-b3eb-41c649b80f0b
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 20 Aug 2025 00:53:49 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"guest-user-1755651228@example.com","first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      X-Klaviyo-Req-Id:
      - fe9bdeaa-5fc5-4bd0-aeb1-57314212823f
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01HXGX6SXYRZBRVCTV6RNAY81D","attributes":{"email":"guest-user-1755651228@example.com","anonymous_id":null,"first_name":null,"last_name":null,"external_id":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81D/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81D/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81D/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81D/segments/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81D/"}}}'
  recorded_at: Wed, 20 Aug 2025 00:53:49 GMT
[...]
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27guest-user-1755651860@example.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
      X-Klaviyo-Req-Id:
      - fc6d15d2-0ba5-406e-8bb1-591d07ca1773
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"fc6d15d2-0ba5-406e-8bb1-591d07ca1773","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Wed, 20 Aug 2025 01:04:21 GMT
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01HXGX6SXYRZBRVCTV6RNAY81D/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01HXGX6SXYRZBRVCTV6RNAY81D","attributes":{"properties":{"Source":"Waitlist"}}}}'
    headers:
      Revision:
      - '2025-04-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - en-us
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
      X-Klaviyo-Req-Id:
      - fbb4ef1b-faf3-45b9-a4d5-3be50eb97210
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"fbb4ef1b-faf3-45b9-a4d5-3be50eb97210","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Wed, 20 Aug 2025 01:04:21 GMT
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27guest-user-1755652097@example.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2025-04-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
      X-Klaviyo-Req-Id:
      - 9d419f6c-3a09-42ef-ae1a-9c7796d596c4
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"9d419f6c-3a09-42ef-ae1a-9c7796d596c4","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Wed, 20 Aug 2025 01:08:18 GMT
recorded_with: VCR 6.3.1
