---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27angelika%2B13@getvendo.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2023-09-15'
      Authorization:
      - Klaviyo-API-Key pk_123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - TRJmuC
      Ratelimit-Limit:
      - "('0, 700, 75;w=1, 0, 700;w=60, 0;w=0',)"
      Ratelimit-Remaining:
      - '0'
      Ratelimit-Reset:
      - '8'
      X-Klaviyo-Api-Revision:
      - '2022-10-17'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"profile","id":"01HEQ696B83PE3T6VKVXH9C86R","attributes":{"email":"angelika+13@getvendo.com"},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HEQ696B83PE3T6VKVXH9C86R/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01HEQ696B83PE3T6VKVXH9C86R/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HEQ696B83PE3T6VKVXH9C86R/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01HEQ696B83PE3T6VKVXH9C86R/segments/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01HEQ696B83PE3T6VKVXH9C86R/"}}],"links":{"self":"https://a.klaviyo.com/api/profiles/?fields[profile]=email&filter=equals(email,%27angelika%2B13%40getvendo.com%27)","next":null,"prev":null}}'
  recorded_at: Tue, 05 Dec 2023 16:24:14 GMT
recorded_with: VCR 6.2.0
