---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27existing.user@getvendo.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2023-09-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - TRJmuC
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2023-09-15'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"links":{"self":"https://a.klaviyo.com/api/profiles/?fields[profile]=email&filter=equals(email,%27existing.user%40getvendo.com%27)","next":null,"prev":null}}'
  recorded_at: Thu, 09 May 2024 18:35:02 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":"guest-id-ghjiu786543","email":"existing.user@getvendo.com","phone_number":null,"first_name":null,"last_name":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}}}}'
    headers:
      Revision:
      - '2023-09-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - TRJmuC
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2023-09-15'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01HXFA6C6ZHPMG2NZM9DD861BD","attributes":{"email":"existing.user@getvendo.com","phone_number":null,"external_id":null,"anonymous_id":"guest-id-ghjiu786543","first_name":null,"last_name":null,"organization":null,"title":null,"image":null,"created":null,"updated":null,"last_event_date":null,"location":{"address1":null,"region":null,"city":null,"latitude":null,"country":null,"zip":null,"address2":null,"longitude":null,"timezone":null,"ip":null},"properties":{},"subscriptions":null},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXFA6C6ZHPMG2NZM9DD861BD/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01HXFA6C6ZHPMG2NZM9DD861BD/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXFA6C6ZHPMG2NZM9DD861BD/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01HXFA6C6ZHPMG2NZM9DD861BD/segments/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01HXFA6C6ZHPMG2NZM9DD861BD/"}}}'
  recorded_at: Thu, 09 May 2024 18:35:05 GMT
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01HXFA6C6ZHPMG2NZM9DD861BD/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":"guest-id-ghjiu786543","email":"existing.user@getvendo.com","phone_number":null,"first_name":"Serita","last_name":"Bode","location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}},"id":"01HXFA6C6ZHPMG2NZM9DD861BD"}}'
    headers:
      Revision:
      - '202[...]
