---
http_interactions:
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?fields%5Bprofile%5D=email&filter=equals(email,%27john.doe-3242343@getvendo.com%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Revision:
      - '2023-09-15'
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - TRJmuC
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2023-09-15'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"links":{"self":"https://a.klaviyo.com/api/profiles/?fields[profile]=email&filter=equals(email,%27john.doe-3242343%40getvendo.com%27)","next":null,"prev":null}}'
  recorded_at: Mon, 13 May 2024 07:35:04 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":null,"email":"john.doe-3242343@getvendo.com","phone_number":null,"first_name":null,"last_name":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}}}}'
    headers:
      Revision:
      - '2023-09-15'
      Content-Type:
      - application/json
      Authorization:
      - Klaviyo-API-Key <KLAVIYO_PRIVATE_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - TRJmuC
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2023-09-15'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01HXRE0RMESWA3258FZ6GBC337","attributes":{"email":"john.doe-3242343@getvendo.com","phone_number":null,"external_id":null,"anonymous_id":null,"first_name":null,"last_name":null,"organization":null,"title":null,"image":null,"created":null,"updated":null,"last_event_date":null,"location":{"address1":null,"region":null,"city":null,"address2":null,"zip":null,"longitude":null,"country":null,"latitude":null,"timezone":null,"ip":null},"properties":{},"subscriptions":null},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXRE0RMESWA3258FZ6GBC337/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01HXRE0RMESWA3258FZ6GBC337/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HXRE0RMESWA3258FZ6GBC337/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01HXRE0RMESWA3258FZ6GBC337/segments/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01HXRE0RMESWA3258FZ6GBC337/"}}}'
  recorded_at: Mon, 13 May 2024 07:35:04 GMT
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01HXRE0RMESWA3258FZ6GBC337/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"anonymous_id":"guest-id-asdsiu78645235343","email":"john.doe-3242343@getvendo.com","phone_number":null,"first_name":"Eugenie","last_name":"Murazik","location":{"address1":null,"address2":null,"city":null,"country":null,"region":null,"zip":null}},"id":"01HXRE0RMESWA3258FZ6GBC337"}}'
    headers:
      Revision:[...]
